{% extends 'index.html' %}
{% block content %}
<div class="card">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <!-- Default checkbox -->
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
            <label class="form-check-label" for="flexCheckDefault">To claim and complete referral please enquiry our team, opt-in updates on whatsapp.</label>
        </div>
    </div>
  </div>
{% endblock %}